.agenda {
  padding: 30px 0 90px 0;
}

.agenda-title {
  font-family: var(--font-title2);
  text-align: center;
  font-size: 5rem;
  margin-bottom: 50px;
  color: var(--orange);
  padding-inline: 5%;
  text-shadow: 1.5px 1.5px black;
}

.agenda-subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 25px;
  padding-inline: 5%;
}

.agenda h4 {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 50px;
  padding-inline: 5%;
}

.agenda-content {
  position: relative;
}

#agenda-list {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  overflow-x: hidden;
}

.agenda-button {
  width: 110px;
  height: 110px;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 90px;
  background-repeat: no-repeat;
  transition: 1s;
}

.agenda-button:hover {
  background-size: 110px;
}

.agenda-button-left {
  left: 2.5%;
  background-image: url(../../assets/arrow-left.png);
}

.agenda-button-right {
  right: 2.5%;
  background-image: url(../../assets/arrow-right.png);
}

#agenda-list div {
  background-color: rgb(255, 119, 0, 0.4);
  border-radius: 15px;
  border: 2px dashed var(--orange);
  padding: 30px 50px;
  width: 65%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

#agenda-list div:nth-child(2) {
  margin-left: 10%;
}
#agenda-list div:last-child {
  margin-right: 10%;
}

#agenda-list div img {
  border-radius: 10px;
  width: 50%;
  margin-inline: 15px;
  min-width: 300px;
}

#agenda-list div p {
  text-indent: 0;
}

#agenda-list h5 {
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

#agenda-list div strong {
  font-weight: bold;
}
