body {
  background-color: var(--white);
  font-family: var(--font-text);
}



section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-indent: 60px;
}

@media (max-width: 550px) {
  section p {
    font-size: 1rem;
  }
  nav a{
    font-size: 1.2rem;
}
}

@media (max-width: 450px) {
  section p {
    text-indent: 30px;
  }
}
