.paper1 {
  width: 200px;
  height: 400px;
  background-color: var(--dark-wine);
  clip-path: circle(50% at 0% 110%);
  position: absolute;
  z-index: -9;
}

.paper2 {
  width: 550px;
  height: 550px;
  background-color: var(--dark-wine);
  clip-path: circle(50% at 100% 30%);
  position: absolute;
  right: 0;
  z-index: -9;
}

.paper3 {
  width: 700px;
  height: 500px;
  background-color: var(--dark-green);
  clip-path: circle(60% at 90% 110%);
  position: absolute;
  right: 0;
  z-index: -9;
}
.paper4 {
  width: 500px;
  height: 500px;
  background-color: var(--light-green);
  clip-path: circle(50% at 100% 30%);
  position: absolute;
  right: 0;
  z-index: -9;
}
.paper5 {
  width: 700px;
  height: 500px;
  background-color: var(--dark-orange);
  clip-path: circle(60% at 60% 140%);
  position: absolute;
  right: 0;
  z-index: -9;
}

.paper6 {
  width: 300px;
  height: 500px;
  background-color: var(--dark-green);
  clip-path: circle(35% at 25% 100%);
  position: absolute;
  z-index: -9;
}

.paper7 {
  width: 300px;
  height: 500px;
  background-color: var(--dark-orange);
  clip-path: circle(35% at 20% 110%);
  position: absolute;
  z-index: -9;
}

header {
  z-index: -10;
  height: 500px;
  background-color: rgba(30, 180, 131, 0.2);
  position: relative;
  box-shadow: 0 1px 2px;
}

.header-box {
  width: 50%;
  height: 250px;
  position: absolute;
  right: 50%;
  top: 0;
  margin-top: 325px;
  transform: translateX(50%);
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 1px 2px;
}

header img:nth-child(2) {
  display: none;
  z-index: -2;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  min-width: 230px;
}

header img:nth-child(4) {
  z-index: -2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  max-width: 230px;
  max-height: 400px;
}

header img:nth-child(3) {
  z-index: -2;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  max-width: 210px;
  max-height: 400px;
}

header h1 {
  padding-top: 60px;
  margin-inline: 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-family: var(--font-title);
  color: var(--orange);
  text-shadow: 2px 2px black;
}

header h2 {
  font-family: var(--font-title);
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 15px;
  color: var(--white);
  text-shadow: 2px 2px black;
  text-decoration: underline;
  text-decoration-color: var(--dark-wine);
}

header h2 strong {
  font-size: 3rem;
}

.header-box p {
  font-family: var(--font-title);
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.header-box p strong {
  color: rgb(0, 220, 255);
  text-shadow: 2px 2px black;
}

.header-box p:nth-child(2) {
  color: black;
  /*text-shadow: 2px 2px black;*/
  font-size: 3rem;
  margin: 0;
}

.header-box div {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: space-around;
}

.header-btn {
  padding: 15px;
  border: 1.5px solid black;
  border-radius: 10px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: 0.5s;
}

.header-btn:hover{
  background-color: var(--gray);
}
